*.swp

/bin
/boot
/dev
/lib
/lib32
/lib64
/libx32
/lost+found
/media
/mnt
/opt
/proc
/root
/run
/sbin
/snap
/srv
/sys
/tmp
/var

# etc
/etc/*
!/etc/nginx
!/etc/mysql

# systemd
/usr/*
!/usr/lib
/usr/lib/*
!/usr/lib/systemd
/usr/lib/systemd/*
!/usr/lib/systemd/system
/usr/lib/systemd/system/*
!/usr/lib/systemd/system/mysql.service
!/usr/lib/systemd/system/nginx.service

!/etc/systemd
/etc/systemd/*
!/etc/systemd/system
/etc/systemd/system/*
!/etc/systemd/system/isuports.service

# home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp

# webapp
/home/isucon/webapp/*
!/home/isucon/webapp/docker-compose-go.yml
!/home/isucon/webapp/specification.md
!/home/isucon/webapp/go
!/home/isucon/webapp/img
!/home/isucon/webapp/sql
!/home/isucon/webapp/tenant_db
/home/isucon/webapp/go/isuports
